In [5]:
import pandas as pd

In [7]:
df = pd.read_csv("../stock_market_data.csv", index_col=0)

df

,permno,caldt,shrcd,excd,siccd,prc,ret,vol,shr
7417,10001,2014-01-02,11,2,4925,8.04000,0.001245,72900.0,10452.0
7418,10001,2014-01-03,11,2,4925,8.18000,0.017413,48900.0,10452.0
7419,10001,2014-01-06,11,2,4925,8.34000,0.019560,64500.0,10452.0
7420,10001,2014-01-07,11,2,4925,8.77000,0.051559,271900.0,10452.0
7421,10001,2014-01-08,11,2,4925,8.96000,0.021665,115600.0,10452.0
...,...,...,...,...,...,...,...,...,...
105258375,93436,2023-12-22,11,3,9999,252.53999,-0.007701,93148541.0,3178921.0
105258376,93436,2023-12-26,11,3,9999,256.60999,0.016116,86700724.0,3178921.0
105258377,93436,2023-12-27,11,3,9999,261.44000,0.018822,106250779.0,3178921.0
105258378,93436,2023-12-28,11,3,9999,253.17999,-0.031594,113250680.0,3178921.0
105258379,93436,2023-12-29,11,3,9999,248.48000,-0.018564,100321201.0,3178921.0